body{
  padding-bottom: 80px;
  font-family: Helvetica;
  line-height: 2em;
  margin: 0;
}
header{
  background-image: url(https://d30o31ylp1hvg6.cloudfront.net/uploads/blog/selecting-a-talent-management-system-qa/_thumb/848x450/selecting-a-talent-management-system-qa.png);
  color: white;
  padding: 20% 8% 1% 15%;
  text-align: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }
 /*nav style start*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-size: 0.9em;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
/*nav style end*/
footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 0.9em;
    line-height: 0.9em;
    margin-top: -1.5%;

}
h2{
  padding: 1.5em;
  border: 1px dashed #969ba5;
  background-color: #969ba5;
  border-radius: 10px;
}
h2:target {
  background-color: gold;
}
h2:target::before {
  font: 70% sans-serif;
  content: "+";
  color: blue;
  margin-right: .25em;
}
/*article:first-of-type{
  background-color: gray;
}*/
article {
  background-color: #d7dae0;
  padding: 20px;
  margin-bottom: 1.5%;
}
aside{
  background-color: #969ba5;
  padding: 20px;
}
#menuToggle{
  display: none;
}
article a:link{
  color : red;
}
article a:visited{
  color : #a22700;
}
footer a:link, footer a:visited {
  color: #c3eab4;
}
@media screen and (max-width: 560px){
  .largeNav {
    display: none;
  }
  article h2[id$="2"]{
    font-size: 0.9em;
  }
  header{
    margin-top: -22px;
    height: 240px;
  }
  header p {
    display: none;
  }
   /*hamburger start*/
  #menu a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
  }

  #menu a:hover {
  color: tomato;
  }

  #menuToggle
  {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  }

  #menuToggle input
  {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
  transform-origin: 0% 100%;
  }

  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
  transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 100px 40px 20px 40px; 
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
   /*hamburger end*/
}
@media screen and (min-width: 561px){
  main{
    display: flex;
  }
  aside{
    max-width: 27%;
  }
}

@media screen and (min-width: 981px){
  .articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  article{
    width: 43%
  }
  aside{
    margin-right: 1.5%;
  }
}